@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
body{
    background:#0f0f0f;
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    /* display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; */
}
.container{
    background: #0f0f0f;
    color: white;
    width: auto;
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(12 , 1fr);
    gap: 10px;
}
.container .box{
    position: relative;
    grid-column: span 3;
    overflow: hidden;
    /* text-align: center; */
}
.container .box img{
    border-radius: 15px;
    width: 100%;
    height: auto;
    display: block;
}
.container .box .titre{
    padding: 10px;
    margin: 0;
    font-size: 14px;
}
.container .box a{
    text-decoration: none;
    color: white;
}
.container .box .infos{
    display: flex;
    color: rgb(139, 138, 138);
    column-gap: 10px;
}
.container .box .infos:hover{
    text-decoration: solid;
    color: white;
}
.container .box .titre_vid{
    text-align: left;
}
.container .box .box_thumbnail{
    position: relative;
}
.container .box .box_thumbnail .temps{
    position: absolute;
    background: rgb(0, 0, 0,0.5);
    width: auto;
    bottom: 4%;
    right: 3%;
    padding: 2.5px 5px;
    border-radius: 4px;
}
.container .box .infos .info_profil img{
    border-radius: 50%;
}
.container .box .taille_inf{
    display: flex;
    flex-direction: column;
    margin: 0;
    font-size: 14px;
}
.container .box .infos p{
    margin: 0;
}